src/BackEnd/bin/Debug/net6.0/XF1Api.dll
src/BackEnd/bin/Debug/net6.0/XF1Api.pdb
src/BackEnd/obj/Debug/net6.0/ref/XF1Api.dll
src/BackEnd/obj/Debug/net6.0/refint/XF1Api.dll
src/BackEnd/obj/Debug/net6.0/XF1Api.assets.cache
src/BackEnd/obj/Debug/net6.0/XF1Api.csproj.FileListAbsolute.txt
src/BackEnd/obj/Debug/net6.0/XF1Api.dll
src/BackEnd/obj/Debug/net6.0/XF1Api.GeneratedMSBuildEditorConfig.editorconfig
src/BackEnd/obj/Debug/net6.0/XF1Api.genruntimeconfig.cache
src/BackEnd/obj/Debug/net6.0/XF1Api.pdb
src/BackEnd/obj/project.assets.json
src/BackEnd/obj/project.nuget.cache
src/BackEnd/obj/staticwebassets.pack.sentinel
src/BackEnd/obj/XF1Api.csproj.nuget.dgspec.json